.wrap{
	//width: 700px;
	//margin: auto;
	background: grey;
}
.nigor{
	color: pink;
}
.rusya{
	color: darkblue;
}
.film1{
	font-family: sans-serif;
}
.film2{
	font-family: sans-serif;
}
.film3{
	font-family: sans-serif; 
}